/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.login,
.image {
  min-height: 100vh;
}


.bg-image-2 {
  background-image: url('../../../assets/img/straviatec-register-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-image-3 {
  background-image: url('../../../assets/img/straviatec-login-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.vert-offset-top-12{
  margin-top: 12em;
}